@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --green-1: oklch(99.4% 0.0049 140.3);
      --green-2: oklch(98.2% 0.0084 140.3);
      --green-3: oklch(96.1% 0.0212 140.3);
      --green-4: oklch(93.4% 0.0339 140.3);
      --green-5: oklch(90.1% 0.0485 140.3);
      --green-6: oklch(85.8% 0.0655 140.3);
      --green-7: oklch(79.8% 0.0871 140.3);
      --green-8: oklch(71.6% 0.1193 140.3);
      --green-9: oklch(65.7% 0.1347 140.3);
      --green-10: oklch(61.7% 0.1299 140.3);
      --green-11: oklch(52.7% 0.1189 140.3);
      --green-12: oklch(32.7% 0.049 140.3);

      --green-a1: color(display-p3 0.2667 0.7569 0.0235 / 0.016);
      --green-a2: color(display-p3 0.2196 0.6118 0.0235 / 0.04);
      --green-a3: color(display-p3 0.1922 0.5961 0.0118 / 0.087);
      --green-a4: color(display-p3 0.149 0.5176 0.0078 / 0.138);
      --green-a5: color(display-p3 0.1569 0.5216 0.0039 / 0.204);
      --green-a6: color(display-p3 0.1412 0.498 0.0039 / 0.287);
      --green-a7: color(display-p3 0.1333 0.4824 0.0039 / 0.393);
      --green-a8: color(display-p3 0.1333 0.4588 0 / 0.542);
      --green-a9: color(display-p3 0.1294 0.4353 0 / 0.64);
      --green-a10: color(display-p3 0.1098 0.3882 0 / 0.675);
      --green-a11: color(display-p3 0.0902 0.3098 0 / 0.757);
      --green-a12: color(display-p3 0.0275 0.098 0 / 0.855);

      --green-contrast: #fff;
      --green-surface: color(display-p3 0.9608 0.9765 0.9569 / 0.8);
      --green-indicator: oklch(65.7% 0.1347 140.3);
      --green-track: oklch(65.7% 0.1347 140.3);
    }
  }
}